
.fa-a:after{
  content: "";
  margin-right: 20px;
}

.fa-b:before{
  margin-left: 20px;
}

.fa-m-a:after{
  content: "";
  margin-right: 10px;
}

.fa-m-b:before{
  margin-left: 10px;
}

.fa-15x { font-size: 1.5em; }

.fa-fw {
  text-align: center;
  width: 1.5em !important;
}
.card-img-overlay, .card-footer { padding: 0px; }

.transparentCardHeader.card-header {
  background-color: rgba(128,128,128,0.75);
  color: white;
  text-shadow: 1px 1px 1px black;
  white-space: nowrap;
  width: 100%;                   
  overflow: hidden;              /* "overflow"-Wert darf nicht "visible" sein */ 
  text-overflow: ellipsis;
}

.cardForDetail * { cursor: pointer; }
.cardForDetail:hover .card-footer {
  display: block;
}
.cardForDetail .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(128,128,128,0.5);
  color: rgb(75, 75, 75);
  text-align: center;
  display: none;
}

.navbarCaption { 
  padding-right: 50px;
  text-shadow: -1px -1px 0px #fff, 2px 2px 2px black;
}

.card-columns { column-gap: 0.2rem; margin-bottom: 10px;}
.card-columns .card{ margin-bottom: 0.2rem }
.shw-lg { display: inline-block; }
.shw-sm { display: none; }
.shw-lg-only { display: none; }

.abt-logo { width: 75%; }
.abt-cr em { font-weight: bold; }

.sketch-picker { box-shadow: 0px 0px !important; border-radius: 0px !important;}

.menu-h-divider { 
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
}

@media (max-width: 500px) {
  .navbarCaption { font-size: x-large; }
  .card-columns { column-count: 1; }
  .projectImage, .componentImage, .templateImage {
    min-height:150px;
    max-height:150px;
    object-fit: cover;
  }
  .shw-lg { display: none; }
  .shw-sm { display: inline-block; }
  .abt-logo { width: 50%; }
}
@media (min-width: 501px) and (max-width: 800px) {
  .navbarCaption { font-size: x-large; }
  .card-columns { column-count: 2; }
  .projectImage, .componentImage, .templateImage {
    min-height:175px;
    max-height:175px;
    object-fit: cover;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .navbarCaption { font-size: x-large; }
  .card-columns { column-count: 3; }
  .projectImage, .componentImage, .templateImage {
    min-height:200px;
    max-height:200px;
    object-fit: cover;
  }
}
@media (min-width: 1201px) and (max-width: 1600px) {
  .navbarCaption { font-size: xx-large; }
  .card-columns { column-count: 4; }
  .projectImage, .componentImage, .templateImage {
    min-height:225px;
    max-height:225px;
    object-fit: cover;
  }
}
@media (min-width: 1601px) {
  .navbarCaption { font-size: xx-large; }
  .card-columns { column-count: 5; }
  .projectImage, .componentImage, .templateImage {
    min-height:250px;
    max-height:250px;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .menu-h-divider { display: none; }
}
@media (min-width: 1800px) {
  .shw-lg-only { display: block; }
}

