.fa-a:after{
  content: "";
  margin-right: 20px;
}

.fa-b:before{
  margin-left: 20px;
}

.fa-m-a:after{
  content: "";
  margin-right: 5px;
}

.fa-m-b:before{
  margin-left: 5px;
}

.card-img-overlay, .card-footer { padding: 0px; }

.transparentCardHeader.card-header {
  background-color: rgba(128,128,128,0.25);
  color: black;
  white-space: nowrap;
  width: 100%;                   
  overflow: hidden;              /* "overflow"-Wert darf nicht "visible" sein */ 
  text-overflow: ellipsis;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(128,128,128,0.25);
  color: black;
}

.navbarCaption { 
  padding-right: 20px;
  text-shadow: -1px -1px 0px #fff, 2px 2px 2px black;
}

@media (max-width: 500px) {
  .navbarCaption { font-size: x-large; }
  .card-columns { column-count: 1; }
  .projectImage, .componentImage, .templateImage {
    min-height:150px;
    max-height:150px;
    object-fit: cover;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .navbarCaption { font-size: x-large; }
  .card-columns { column-count: 2; }
  .projectImage, .componentImage, .templateImage {
    min-height:175px;
    max-height:175px;
    object-fit: cover;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .navbarCaption { font-size: x-large; }
  .card-columns { column-count: 3; }
  .projectImage, .componentImage, .templateImage {
    min-height:200px;
    max-height:200px;
    object-fit: cover;
  }
}
@media (min-width: 1201px) and (max-width: 1600px) {
  .navbarCaption { font-size: xx-large; }
  .card-columns { column-count: 4; }
  .projectImage, .componentImage, .templateImage {
    min-height:225px;
    max-height:225px;
    object-fit: cover;
  }
}
@media (min-width: 1601px) {
  .navbarCaption { font-size: xx-large; }
  .card-columns { column-count: 5; }
  .projectImage, .componentImage, .templateImage {
    min-height:250px;
    max-height:250px;
    object-fit: cover;
  }
}

