:root {
  font-family: -apple-system, BlinkMacSystemFont, "Ubuntu", "Segoe UI", "Roboto", "Oxygen",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0e0e0;
  background-image: url(/bkg-small-20.png);
  background-attachment: fixed;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.xxx a::after{ border: none; }
.xxx .dropdown-menu { transform: translate3d(-100px, 0px, 0px); }
.show .xxx .dropdown-menu { transform: translate3d(0px, 0px, 0px); }
.xxx .fa-stack { margin-left: -10px; }

.login-menue { background-color: rgba(255,255,255,0.20) !important; }
.span { font-size: 1.0rem; }
.span em, .abtSignedIn em { color: rgba(255,255,255,1) !important; }
.icons img { 
  display: block;
  max-width:50px;
  max-height:20px;
  width: auto;
  height: auto;
  margin: auto 5px;
}

.abtSignedIn { }

a.card-link, a.card-link:hover, a.card-link:active, a.card-link:focus, a.card-link:visited { text-decoration: none !important; color: inherit;}
