:root {
  font-family: -apple-system, BlinkMacSystemFont, "Ubuntu", "Segoe UI", "Roboto", "Oxygen",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #575757;
  color: whitesmoke;
  background-image: url(/bkg-small-20.png);
  background-attachment: fixed;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.xxx a::after{ border: none; }
.xxx .dropdown-menu { transform: translate3d(-120px, 0px, 0px); }
.show .xxx .dropdown-menu { transform: translate3d(0px, 0px, 0px); }
.xxx i { margin-left: +10px; }; 

.col-form-label, .form-label { text-align: right; }
.ControlRow { display: flex; padding: 0px; margin-bottom: 0px;}
.Control{ margin: 0px 10px; }
.Control:first-child { margin-left: 0px; }
.Control:last-child{ margin-right: 0px; }

.ElementRow .form-group { margin-bottom: 0px; }
.ElementRow .card-body { padding-top: 0.5rem; padding-bottom: 0.5rem; }

.login-menue { background-color: rgba(255,255,255,0.20) !important; }
.span { font-size: 1.0rem; }
.span em, .abtSignedIn em { color: rgba(255,255,255,1) !important; }

.icons img { 
  display: block;
  max-width:50px;
  max-height:20px;
  width: auto;
  height: auto;
  margin: auto 5px;
}

.spx {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.sp-c {
  text-align: center;
  padding: 0 2%;
}

.sp-r {
  text-align: right;
  padding-right: 2%;
}

.sp-l {
  text-align: left;
  padding-left: 2%;
}

.sp-c h1, .sp-r h1, .sp-l h1 {
  text-shadow: 5px 5px 12px #000, 5px 5px 15px #000;
  margin-bottom: 20px;
}
.sp-c img.lg, .sp-r img.lg, .sp-l img.lg {
  box-shadow: 12px 12px 15px #000;
  width: 50%;
}

@media (max-width: 500px) {
  .sp-c img.lg {
    width: 93%;
  }
  .sp-c h1, .sp-r h1, .sp-l h1 {
    font-size: 3rem;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .sp-c img.lg {
    width: 83%;
  }
  .sp-c h1, .sp-r h1, .sp-l h1 {
    font-size: 4rem;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .sp-c img.lg {
    width: 73%;
  }
  .sp-c h1, .sp-r h1, .sp-l h1 {
    font-size: 6rem;
  }
}
@media (min-width: 1201px) and (max-width: 1600px) {
  .sp-c img.lg {
    width: 58%;
  }
  .sp-c h1, .sp-r h1, .sp-l h1 {
    font-size: 8rem;
  }
}
@media (min-width: 1601px) {
  .sp-c img.lg {
    width: 48%;
  }
  .sp-c h1, .sp-r h1, .sp-l h1 {
    font-size: 8rem;
  }
}

a.card-link, a.card-link:hover, a.card-link:active, a.card-link:focus, a.card-link:visited { text-decoration: none !important; color: inherit;}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, 
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, 
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, 
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, 
.col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, 
.col-xl, .col-xl-auto { padding-right: 5px !important; padding-left: 5px !important; }

.form-group.row { margin-right: -5px !important; margin-left: -5px !important; }

